/Mattermost/
/Mousepad/
/QtProject.conf
/REAPER/
/Thunar/
/dconf/
/emacs/
/godot/
/gh/
/gtk-3.0/
/htop/
/mimeapps.list
/nnn/
/notes
/old-config/
/omf/
/pavucontrol.ini
/pulse/
/ranger/
/sealert.conf
/sublime-text/
/user-dirs.dirs
/user-dirs.locale
/volumeicon/
/xfce4/
/polybar/
